In [1]:
import pandas as pd

# 데이터 로드
file_path = 'C:\\Users\\Admin\\Documents\\GitHub\\sg_2cha\\jh\\data5\\E-Commerce Churn Data.csv'  # 파일 경로를 지정하세요
data = pd.read_csv(file_path)

# 데이터 구조 확인
print("데이터셋 구조:")
print(data.info())

# 데이터 샘플 확인
print("\n데이터 샘플:")
print(data.head())

# 데이터의 크기 확인
print("\n데이터 크기 (행, 열):", data.shape)

데이터셋 구조:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5630 entries, 0 to 5629
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   CustomerID                   5630 non-null   int64
 1   Churn                        5630 non-null   int64
 2   Tenure                       5366 non-null   float64
 3   PreferredLoginDevice         5630 non-null   object
 4   CityTier                     5630 non-null   int64
 5   WarehouseToHome              5379 non-null   float64
 6   PreferredPaymentMode         5630 non-null   object
 7   Gender                       5630 non-null   object
 8   HourSpendOnApp               5375 non-null   float64
 9   NumberOfDeviceRegistered     5630 non-null   int64
 10  PreferedOrderCat             5630 non-null   object
 11  SatisfactionScore            5630 non-null   int64
 12  MaritalStatus                5630 non-null   object
 13  NumberOfAddress              5630 non-null   int64
 14  Complain                     5630 non-null   int64
 15  OrderAmountHikeFromlastYear  5365 non-null   float64
 16  CouponUsed                   5374 non-null   float64
 17  OrderCount                   5372 non-null   float64
 18  DaySinceLastOrder            5323 non-null   float64
 19  CashbackAmount               5630 non-null   int64
dtypes: float64(7), int64(8), object(5)
memory usage: 879.8+ KB
None

데이터 샘플:
   CustomerID  Churn  Tenure PreferredLoginDevice  CityTier  WarehouseToHome  \
0       50001      1     4.0         Mobile Phone         3              6.0
1       50002      1     NaN                Phone         1              8.0
2       50003      1     NaN                Phone         1             30.0
3       50004      1     0.0                Phone         3             15.0
4       50005      1     0.0                Phone         1             12.0

  PreferredPaymentMode  Gender  HourSpendOnApp  NumberOfDeviceRegistered  \
0           Debit Card  Female             3.0                         3
1                  UPI    Male             3.0                         4
2           Debit Card    Male             2.0                         4
3           Debit Card    Male             2.0                         4
4                   CC    Male             NaN                         3

     PreferedOrderCat  SatisfactionScore MaritalStatus  NumberOfAddress  \
0  Laptop & Accessory                  2        Single                9
1              Mobile                  3        Single                7
2              Mobile                  3        Single                6
3  Laptop & Accessory                  5        Single                8
4              Mobile                  5        Single                3

   Complain  OrderAmountHikeFromlastYear  CouponUsed  OrderCount  \
0         1                         11.0         1.0         1.0
1         1                         15.0         0.0         1.0
2         1                         14.0         0.0         1.0
3         0                         23.0         0.0         1.0
4         0                         11.0         1.0         1.0

   DaySinceLastOrder  CashbackAmount
0                5.0             160
1                0.0             121
2                3.0             120
3                3.0             134
4                3.0             130

데이터 크기 (행, 열): (5630, 20)

In [2]:
# 결측치 개수와 비율 확인
missing_values = data.isnull().sum()
missing_percent = (missing_values / len(data)) * 100

print("\n결측치 개수 및 비율:")
print(pd.DataFrame({'Missing Values': missing_values, 'Percentage': missing_percent}))

결측치 개수 및 비율:
                             Missing Values  Percentage
CustomerID                                0    0.000000
Churn                                     0    0.000000
Tenure                                  264    4.689165
PreferredLoginDevice                      0    0.000000
CityTier                                  0    0.000000
WarehouseToHome                         251    4.458259
PreferredPaymentMode                      0    0.000000
Gender                                    0    0.000000
HourSpendOnApp                          255    4.529307
NumberOfDeviceRegistered                  0    0.000000
PreferedOrderCat                          0    0.000000
SatisfactionScore                         0    0.000000
MaritalStatus                             0    0.000000
NumberOfAddress                           0    0.000000
Complain                                  0    0.000000
OrderAmountHikeFromlastYear             265    4.706927
CouponUsed                              256    4.547069
OrderCount                              258    4.582593
DaySinceLastOrder                       307    5.452931
CashbackAmount                            0    0.000000

In [3]:
# 중복 데이터 확인
duplicate_rows = data.duplicated().sum()
print("\n중복 데이터 개수:", duplicate_rows)

중복 데이터 개수: 0

In [4]:
#CityTier를 ordinal 범주형으로 변환
data['CityTier'] = data['CityTier'].astype('category')
print("\nCityTier 데이터 타입 변환 후:")
print(data['CityTier'].dtype)

CityTier 데이터 타입 변환 후:
category

In [6]:
data.describe()

,CustomerID,Churn,Tenure,WarehouseToHome,HourSpendOnApp,NumberOfDeviceRegistered,SatisfactionScore,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
count,5630.000000,5630.000000,5366.000000,5379.000000,5375.000000,5630.000000,5630.000000,5630.000000,5630.000000,5365.000000,5374.000000,5372.000000,5323.000000,5630.000000
mean,52815.500000,0.168384,10.189899,15.639896,2.931535,3.688988,3.066785,4.214032,0.284902,15.707922,1.751023,3.008004,4.543491,177.221492
std,1625.385339,0.374240,8.557241,8.531475,0.721926,1.023999,1.380194,2.583586,0.451408,3.675485,1.894621,2.939680,3.654433,49.193869
min,50001.000000,0.000000,0.000000,5.000000,0.000000,1.000000,1.000000,1.000000,0.000000,11.000000,0.000000,1.000000,0.000000,0.000000
25%,51408.250000,0.000000,2.000000,9.000000,2.000000,3.000000,2.000000,2.000000,0.000000,13.000000,1.000000,1.000000,2.000000,146.000000
50%,52815.500000,0.000000,9.000000,14.000000,3.000000,4.000000,3.000000,3.000000,0.000000,15.000000,1.000000,2.000000,3.000000,163.000000
75%,54222.750000,0.000000,16.000000,20.000000,3.000000,4.000000,4.000000,6.000000,1.000000,18.000000,2.000000,3.000000,7.000000,196.000000
max,55630.000000,1.000000,61.000000,127.000000,5.000000,6.000000,5.000000,22.000000,1.000000,26.000000,16.000000,16.000000,46.000000,325.000000

In [11]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
import pandas as pd

# 데이터 복사 (SettingWithCopyWarning 방지)
numeric_data = data.copy()

# 수치형 데이터 열 선택
numeric_columns = [
    'CustomerID', 'Churn', 'Tenure', 'WarehouseToHome', 'HourSpendOnApp',
    'NumberOfDeviceRegistered', 'SatisfactionScore', 'NumberOfAddress',
    'Complain', 'OrderAmountHikeFromlastYear', 'CouponUsed', 'OrderCount',
    'DaySinceLastOrder', 'CashbackAmount'
]
numeric_data = numeric_data[numeric_columns]

# 결측값 처리 (열별 평균값으로 대체)
numeric_data.fillna(numeric_data.mean(), inplace=True)

# 데이터 표준화
scaler = StandardScaler()
scaled_numeric_data = scaler.fit_transform(numeric_data)

# PCA 수행
pca = PCA()
pca_result = pca.fit_transform(scaled_numeric_data)

# PCA 분산 설명 비율 계산
explained_variance_ratio = pca.explained_variance_ratio_
cumulative_variance_ratio = explained_variance_ratio.cumsum()

# PCA 결과 요약
pca_summary = pd.DataFrame({
    '주성분': [f'PC{i+1}' for i in range(len(explained_variance_ratio))],
    '분산 설명 비율': explained_variance_ratio,
    '누적 분산 설명 비율': cumulative_variance_ratio
})

# 결과 출력
print("PCA 결과 요약:")
print(pca_summary)

PCA 결과 요약:
     주성분  분산 설명 비율  누적 분산 설명 비율
0    PC1  0.192108     0.192108
1    PC2  0.128384     0.320492
2    PC3  0.100692     0.421185
3    PC4  0.083671     0.504856
4    PC5  0.075098     0.579954
5    PC6  0.071917     0.651871
6    PC7  0.067539     0.719410
7    PC8  0.060529     0.779939
8    PC9  0.053203     0.833142
9   PC10  0.046802     0.879944
10  PC11  0.039117     0.919061
11  PC12  0.031338     0.950399
12  PC13  0.027731     0.978130
13  PC14  0.021870     1.000000