In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import platform
from matplotlib import rc

if platform.system() == 'Windows':
    rc('font', family='Malgun Gothic')  # 윈도우의 경우
elif platform.system() == 'Darwin':
    rc('font', family='AppleGothic')   # MacOS의 경우
else:
    rc('font', family='NanumGothic')   # 리눅스의 경우

    
# 데이터 파일 경로 설정
file_path = '../정제데이터/쇼핑몰이탈정제.csv'  # 데이터 파일의 경로를 지정하세요.

# 데이터 불러오기
data = pd.read_csv(file_path)

# 데이터의 첫 몇 행을 출력하여 확인
print(data.head())

   고객 ID  이탈 여부  가입 기간         접속 기기  도시 등급  배송거리       결제 방식      성별  \
0  50001      1    4.0  Mobile Phone      3   6.0  Debit Card  Female
1  50002      1    3.0         Phone      1   8.0         UPI    Male
2  50003      1    3.0         Phone      1  30.0  Debit Card    Male
3  50004      1    0.0         Phone      3  15.0  Debit Card    Male
4  50005      1    0.0         Phone      1  12.0          CC    Male

   앱 사용 시간  기기 수             주문 카테고리  만족도   결혼 여부  주소 수  불만족 여부  주문 증가율  쿠폰 수  \
0      3.0   3.0  Laptop & Accessory    2  Single     9       1    11.0   1.0
1      3.0   4.0              Mobile    3  Single     7       1    15.0   0.0
2      2.0   4.0              Mobile    3  Single     6       1    14.0   0.0
3      2.0   4.0  Laptop & Accessory    5  Single     8       0    23.0   0.0
4      2.0   3.0              Mobile    5  Single     3       0    11.0   1.0

   주문 횟수  경과일  캐시백 금액
0    1.0  5.0   160.0
1    1.0  0.0   121.0
2    1.0  3.0   120.0
3    1.0  3.0   134.0
4    1.0  3.0   130.0

In [2]:
df = data

In [3]:
df

,고객 ID,이탈 여부,가입 기간,접속 기기,도시 등급,배송거리,결제 방식,성별,앱 사용 시간,기기 수,주문 카테고리,만족도,결혼 여부,주소 수,불만족 여부,주문 증가율,쿠폰 수,주문 횟수,경과일,캐시백 금액
0,50001,1,4.0,Mobile Phone,3,6.0,Debit Card,Female,3.0,3.0,Laptop & Accessory,2,Single,9,1,11.0,1.0,1.0,5.0,160.0
1,50002,1,3.0,Phone,1,8.0,UPI,Male,3.0,4.0,Mobile,3,Single,7,1,15.0,0.0,1.0,0.0,121.0
2,50003,1,3.0,Phone,1,30.0,Debit Card,Male,2.0,4.0,Mobile,3,Single,6,1,14.0,0.0,1.0,3.0,120.0
3,50004,1,0.0,Phone,3,15.0,Debit Card,Male,2.0,4.0,Laptop & Accessory,5,Single,8,0,23.0,0.0,1.0,3.0,134.0
4,50005,1,0.0,Phone,1,12.0,CC,Male,2.0,3.0,Mobile,5,Single,3,0,11.0,1.0,1.0,3.0,130.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5374,55626,0,10.0,Computer,1,30.0,Credit Card,Male,3.0,2.0,Laptop & Accessory,1,Married,6,0,18.0,1.0,2.0,4.0,151.0
5375,55627,0,13.0,Mobile Phone,1,13.0,Credit Card,Male,3.0,5.0,Fashion,5,Married,6,0,16.0,1.0,2.0,5.0,225.0
5376,55628,0,1.0,Mobile Phone,1,11.0,Debit Card,Male,3.0,2.0,Laptop & Accessory,4,Married,3,1,21.0,1.0,2.0,4.0,186.0
5377,55629,0,23.0,Computer,3,9.0,Credit Card,Male,4.0,5.0,Laptop & Accessory,4,Married,4,0,15.0,2.0,2.0,9.0,179.0
5378,55630,0,8.0,Mobile Phone,1,15.0,Credit Card,Male,3.0,2.0,Laptop & Accessory,3,Married,4,0,13.0,2.0,2.0,3.0,169.0

In [4]:
# '도시 등급'을 범주형 데이터로 변경
df['도시 등급'] = df['도시 등급'].astype('category')

# 변경 확인
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5379 entries, 0 to 5378
Data columns (total 20 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   고객 ID    5379 non-null   int64
 1   이탈 여부    5379 non-null   int64
 2   가입 기간    5379 non-null   float64
 3   접속 기기    5379 non-null   object
 4   도시 등급    5379 non-null   category
 5   배송거리     5379 non-null   float64
 6   결제 방식    5379 non-null   object
 7   성별       5379 non-null   object
 8   앱 사용 시간  5379 non-null   float64
 9   기기 수     5379 non-null   float64
 10  주문 카테고리  5379 non-null   object
 11  만족도      5379 non-null   int64
 12  결혼 여부    5379 non-null   object
 13  주소 수     5379 non-null   int64
 14  불만족 여부   5379 non-null   int64
 15  주문 증가율   5379 non-null   float64
 16  쿠폰 수     5379 non-null   float64
 17  주문 횟수    5379 non-null   float64
 18  경과일      5379 non-null   float64
 19  캐시백 금액   5379 non-null   float64
dtypes: category(1), float64(9), int64(5), object(5)
memory usage: 804.0+ KB

In [5]:
df['고객 ID'] = range(1, len(df) + 1)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5379 entries, 0 to 5378
Data columns (total 20 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   고객 ID    5379 non-null   int64
 1   이탈 여부    5379 non-null   int64
 2   가입 기간    5379 non-null   float64
 3   접속 기기    5379 non-null   object
 4   도시 등급    5379 non-null   category
 5   배송거리     5379 non-null   float64
 6   결제 방식    5379 non-null   object
 7   성별       5379 non-null   object
 8   앱 사용 시간  5379 non-null   float64
 9   기기 수     5379 non-null   float64
 10  주문 카테고리  5379 non-null   object
 11  만족도      5379 non-null   int64
 12  결혼 여부    5379 non-null   object
 13  주소 수     5379 non-null   int64
 14  불만족 여부   5379 non-null   int64
 15  주문 증가율   5379 non-null   float64
 16  쿠폰 수     5379 non-null   float64
 17  주문 횟수    5379 non-null   float64
 18  경과일      5379 non-null   float64
 19  캐시백 금액   5379 non-null   float64
dtypes: category(1), float64(9), int64(5), object(5)
memory usage: 804.0+ KB

In [8]:
# '가입 기간', '배송 거리', '앱 사용 시간', '기기 수', '만족도', '주소 수', '불만족 여부', '주문 증가율', '쿠폰 수', '주문 횟수', '경과일' 열을 int8로 변경
df['가입 기간'] = df['가입 기간'].astype('int8')  # int8로 변경
df['배송거리'] = df['배송거리'].astype('int8')  # int8로 변경
df['앱 사용 시간'] = df['앱 사용 시간'].astype('int8')  # int8로 변경
df['기기 수'] = df['기기 수'].astype('int8')  # int8로 변경
df['만족도'] = df['만족도'].astype('int8')  # int8로 변경
df['주소 수'] = df['주소 수'].astype('int8')  # int8로 변경
df['불만족 여부'] = df['불만족 여부'].astype('int8')  # int8로 변경
df['주문 증가율'] = df['주문 증가율'].astype('int8')  # int8로 변경
df['쿠폰 수'] = df['쿠폰 수'].astype('int8')  # int8로 변경
df['주문 횟수'] = df['주문 횟수'].astype('int8')  # int8로 변경
df['경과일'] = df['경과일'].astype('int8')  # int8로 변경

# '캐시백 금액' 열을 int16로 변경
df['캐시백 금액'] = df['캐시백 금액'].astype('int16')  # int16으로 변경

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5379 entries, 0 to 5378
Data columns (total 20 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   고객 ID    5379 non-null   int64
 1   이탈 여부    5379 non-null   int64
 2   가입 기간    5379 non-null   int8
 3   접속 기기    5379 non-null   object
 4   도시 등급    5379 non-null   category
 5   배송거리     5379 non-null   int8
 6   결제 방식    5379 non-null   object
 7   성별       5379 non-null   object
 8   앱 사용 시간  5379 non-null   int8
 9   기기 수     5379 non-null   int8
 10  주문 카테고리  5379 non-null   object
 11  만족도      5379 non-null   int8
 12  결혼 여부    5379 non-null   object
 13  주소 수     5379 non-null   int8
 14  불만족 여부   5379 non-null   int8
 15  주문 증가율   5379 non-null   int8
 16  쿠폰 수     5379 non-null   int8
 17  주문 횟수    5379 non-null   int8
 18  경과일      5379 non-null   int8
 19  캐시백 금액   5379 non-null   int16
dtypes: category(1), int16(1), int64(2), int8(11), object(5)
memory usage: 368.0+ KB

In [10]:
df.to_csv('쇼핑몰이탈_최종.csv', index=False, encoding='utf-8-sig')